    <%if(typeof(message)!="undefined"){%>
    <span><%=message%></span>
    <%}%>

    

    <%if(typeof(user)=="undefined"){%>
<div class="main">
    <h1>欢迎来到MicroBlog</h1>
    <p>MicroBlog是一个基于Node.js的微博系统</p>
    <p>
        <a href="/login" class="btn btn-primary btn-lg">登陆</a>
        <a href="/reg" class="btn btn-default btn-lg">注册</a>
    </p>
</div>
    <%}else{%>
<%-include('say')%>
    <%}%>
    <%-include('blogs')%>
<!--<div class="row">-->
    <!--<div class="col-md-4">-->
        <!--<h2>Lihua 说</h2>-->
        <!--<p>东风夜放花千树。-->
            <!--更吹落，星如雨。-->
            <!--宝马雕车香满路。-->
            <!--凤箫声动，玉壶光转，-->
            <!--一夜鱼龙舞。</p>-->
    <!--</div>-->
    <!--<div class="col-md-4">-->
        <!--<h2>zlx 说</h2>-->
        <!--<p>东风夜放花千树。-->
            <!--更吹落，星如雨。-->
            <!--宝马雕车香满路。-->
            <!--凤箫声动，玉壶光转，-->
            <!--一夜鱼龙舞。</p>-->
    <!--</div>-->
    <!--<div class="col-md-4">-->
        <!--<h2>lucy 说</h2>-->
        <!--<p>东风夜放花千树。-->
            <!--更吹落，星如雨。-->
            <!--宝马雕车香满路。-->
            <!--凤箫声动，玉壶光转，-->
            <!--一夜鱼龙舞。-->
            <!--东风夜放花千树。-->
            <!--更吹落，星如雨。-->
            <!--宝马雕车香满路。-->
            <!--凤箫声动，玉壶光转，-->
            <!--一夜鱼龙舞</p>-->
    <!--</div>-->
<!--</div>-->