<form method="post" class="form-horizontal">
    <%if(typeof(message)!="undefined"){%>
    <span><%=message%></span>
    <%}%>
    <fieldset>
        <legend>
            用户注册:
        </legend>
        <div class="form-group">
            <label for="input1" class="col-md-2 control-label">用户名</label>
            <div class="col-md-10">
            <input type="text" class="form-control" id="input1" name="username" placeholder="Username">
            </div>
        </div>
        <div class="form-group">
            <label for="input2" class="col-md-2 control-label">密码</label>
            <div class="col-md-10">
                <input type="password" class="form-control" id="input2" name="password" placeholder="Username">
            </div>
        </div>
        <div class="form-group">
            <label for="input3" class="col-md-2 control-label">确认密码</label>
            <div class="col-md-10">
                <input type="password" class="form-control" id="input3" name="password-repeat" placeholder="Username">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Sign up</button>
            </div>
        </div>

    </fieldset>
</form>