<form  method="post" action="/post">

    <div class="form-group">
        <label class="sr-only" for="input">say</label>
        <div class="col-md-8 col-lg-offset-2">

            <input type="text" class="form-control " name='blog' id="input" placeholder="....">
        </div>
    </div>
    <button type="submit" class="btn btn-primary">发言</button>
</form>